{% extends "shared/_base_index.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<nav class="rainbow-nav mt-1 w-full max-md:hidden rounded-2xl">
    <div class="flex flex-nowrap overflow-x-auto text-white max-w-screen-lg mx-auto">
        <a href="../escotismo" class="m-escotismo flex items-center p-2 border-b-red-500 border-b-4 hover:bg-red-500 hover:text-[escotismo/fff0f0] shadow-2xl hover:shadow-red-500 transition duration-200 rounded-lg hover:cursor-pointer"> 
            <span class="p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-signpost-split" viewBox="0 0 16 16">
                    <path d="M7 7V1.414a1 1 0 0 1 2 0V2h5a1 1 0 0 1 .8.4l.975 1.3a.5.5 0 0 1 0 .6L14.8 5.6a1 1 0 0 1-.8.4H9v10H7v-5H2a1 1 0 0 1-.8-.4L.225 9.3a.5.5 0 0 1 0-.6L1.2 7.4A1 1 0 0 1 2 7h5zm1 3V8H2l-.75 1L2 10h6zm0-5h6l.75-1L14 3H8v2z"/>
                </svg>
            </span>
            <span class="p-2 whitespace-nowrap"> Escotismo </span>
        </a>
        <a href="../sobre" class="m-about flex items-center p-2 border-b-orange-500 border-b-4 hover:bg-orange-500 transition duration-200 rounded-lg shadow-2xl hover:shadow-orange-500 hover:cursor-pointer"> 
            <span class="p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-person-fill" viewBox="0 0 16 16">
                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm2 5.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12s5 1.755 5 1.755z"/>
                </svg>
            </span>
            <span class="p-2 whitespace-nowrap"> Quem Somos </span>
        </a>
        <a href="../ramos" class="m-ramos flex items-center p-2 border-b-yellow-500 border-b-4 hover:bg-yellow-500 transition duration-200 rounded-lg shadow-2xl hover:shadow-yellow-500 hover:cursor-pointer"> 
            <span class="p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-tree" viewBox="0 0 16 16">
                    <path d="M8.416.223a.5.5 0 0 0-.832 0l-3 4.5A.5.5 0 0 0 5 5.5h.098L3.076 8.735A.5.5 0 0 0 3.5 9.5h.191l-1.638 3.276a.5.5 0 0 0 .447.724H7V16h2v-2.5h4.5a.5.5 0 0 0 .447-.724L12.31 9.5h.191a.5.5 0 0 0 .424-.765L10.902 5.5H11a.5.5 0 0 0 .416-.777l-3-4.5zM6.437 4.758A.5.5 0 0 0 6 4.5h-.066L8 1.401 10.066 4.5H10a.5.5 0 0 0-.424.765L11.598 8.5H11.5a.5.5 0 0 0-.447.724L12.69 12.5H3.309l1.638-3.276A.5.5 0 0 0 4.5 8.5h-.098l2.022-3.235a.5.5 0 0 0 .013-.507z"/>
                </svg>
            </span>
            <span class="p-2 whitespace-nowrap"> Ramos </span>
        </a>
        <a href="../fotos" class="m-fotos flex items-center p-2 border-b-green-500 border-b-4 hover:bg-green-500 transition duration-200 rounded-lg shadow-2xl hover:shadow-green-500 hover:cursor-pointer"> 
            <span class="p-2 whitespace-nowrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                    <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                </svg>
            </span>
            <span class="p-2 whitespace-nowrap"> Fotos </span>
        </a>
        <a href="../infos" class="m-infos flex items-center p-2 border-b-blue-200 border-b-4 hover:bg-blue-200 hover:text-[#245c87] transition duration-200 rounded-lg shadow-2xl hover:shadow-blue-200 hover:cursor-pointer"> 
            <span class="p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
                    <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/>
                    <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
                </svg>
            </span>
            <span class="p-2 whitespace-nowrap"> Noticias e Informaçoes </span>
        </a>
        <a href="../downloads" class="m-downloads flex items-center p-2 border-b-blue-500 border-b-4 hover:bg-blue-500 hover:text-[#e8faff] transition duration-200 rounded-lg shadow-2xl hover:shadow-blue-500 hover:cursor-pointer"> 
            <span class="p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                </svg>
            </span>
            <span class="p-2 whitespace-nowrap"> Downloads </span>
        </a>
    </div>
</nav>

<section class="content-container shadow-2xl shadow-black h-fit rounded-2xl">
    
    <!-- Home Screen -->
    <article class="home w-full h-full">
        <div class="w-full xl:p-9 flex gap-6 xl:basis-3/4">
            <div class="content-view bg-[#bbb4] xl:shadow-[inset_0_-2px_2rem_rgba(0,0,0,0.6)] xl:rounded-2xl w-full h-full">

                <!-- Conteudos separados em Articles -->
                {% block home %}
                {% endblock %}

                {% block escotismo %}
                {% endblock %}

                {% block about %}
                {% endblock %}

                {% block roles %}
                {% endblock %}

                {% block fotos %}
                {% endblock %}

                {% block infos %}
                {% endblock %}

                {% block downloads %}
                {% endblock %}
                
                {% block faq %}
                {% endblock %}
            </div>
        </div>
    </article>

    
</section>

<nav class="rainbow-nav-mobile fixed bottom-0 left-0 bg-[#2268c5] mt-1 w-full md:hidden max-md:show">
    <div class="flex flex-nowrap overflow-x-auto text-white max-w-screen-lg mx-auto">

        {% if active == 'escotismo' %}
        <a href="../escotismo" class="m-escotismo flex basis-1/6 items-center p-2 bg-red-500 shadow-2xl transition duration-200 rounded-tr-xl shadow-2xl shadow-black"> 
            <span class="p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-signpost-split" viewBox="0 0 16 16">
                    <path d="M7 7V1.414a1 1 0 0 1 2 0V2h5a1 1 0 0 1 .8.4l.975 1.3a.5.5 0 0 1 0 .6L14.8 5.6a1 1 0 0 1-.8.4H9v10H7v-5H2a1 1 0 0 1-.8-.4L.225 9.3a.5.5 0 0 1 0-.6L1.2 7.4A1 1 0 0 1 2 7h5zm1 3V8H2l-.75 1L2 10h6zm0-5h6l.75-1L14 3H8v2z"/>
                </svg>
            </span>
            <span class="p-2 whitespace-nowrap basis-2/3"> Escotismo </span>
        </a>
        {% else %}
        <a href="../escotismo" class="m-escotismo flex basis-1/6 items-center p-2 border-b-red-500 border-b-4 hover:bg-red-500 hover:text-[escotismo/fff0f0] shadow-2xl hover:shadow-red-500 transition duration-200 rounded-lg hover:cursor-pointer"> 
            <span class="p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-signpost-split" viewBox="0 0 16 16">
                    <path d="M7 7V1.414a1 1 0 0 1 2 0V2h5a1 1 0 0 1 .8.4l.975 1.3a.5.5 0 0 1 0 .6L14.8 5.6a1 1 0 0 1-.8.4H9v10H7v-5H2a1 1 0 0 1-.8-.4L.225 9.3a.5.5 0 0 1 0-.6L1.2 7.4A1 1 0 0 1 2 7h5zm1 3V8H2l-.75 1L2 10h6zm0-5h6l.75-1L14 3H8v2z"/>
                </svg>
            </span>
        </a>

        {% endif %}
        
        {% if active == 'about' %}
        <a href="../sobre" class="m-about flex basis-1/6 items-center p-2 bg-orange-500 transition duration-200 rounded-t-xl shadow-2xl shadow-orange-500">
            <span class="p-2 basis-1/3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-person-fill" viewBox="0 0 16 16">
                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm2 5.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12s5 1.755 5 1.755z"/>
                </svg>
            </span>
            <span class="whitespace-nowrap basis-2/3"> Quem Somos </span>
        </a>
        {% else %}
        <a href="../sobre" class="m-about flex basis-1/6 items-center p-2 border-b-orange-500 border-b-4 hover:bg-orange-500 transition duration-200 rounded-lg shadow-2xl hover:shadow-orange-500 hover:cursor-pointer"> 
            <span class="p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-person-fill" viewBox="0 0 16 16">
                    <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm2 5.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12s5 1.755 5 1.755z"/>
                </svg>
            </span>
        </a>
        {% endif %}

        {% if active == 'roles' %}
        <a href="../ramos" class="m-ramos flex text-[#122b03] basis-1/6 items-center p-2 bg-yellow-500 transition duration-200 rounded-lg shadow-2xl shadow-yellow-500">
            <span class="p-2 basis-1/3">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-tree" viewBox="0 0 16 16">
                    <path d="M8.416.223a.5.5 0 0 0-.832 0l-3 4.5A.5.5 0 0 0 5 5.5h.098L3.076 8.735A.5.5 0 0 0 3.5 9.5h.191l-1.638 3.276a.5.5 0 0 0 .447.724H7V16h2v-2.5h4.5a.5.5 0 0 0 .447-.724L12.31 9.5h.191a.5.5 0 0 0 .424-.765L10.902 5.5H11a.5.5 0 0 0 .416-.777l-3-4.5zM6.437 4.758A.5.5 0 0 0 6 4.5h-.066L8 1.401 10.066 4.5H10a.5.5 0 0 0-.424.765L11.598 8.5H11.5a.5.5 0 0 0-.447.724L12.69 12.5H3.309l1.638-3.276A.5.5 0 0 0 4.5 8.5h-.098l2.022-3.235a.5.5 0 0 0 .013-.507z"/>
                </svg>
            </span>
            <span class="whitespace-nowrap basis-2/3"> Ramos </span>
        </a>
        {% else %}
        <a href="../ramos" class="m-ramos flex basis-1/6 items-center p-2 border-b-yellow-500 border-b-4 hover:bg-yellow-500 transition duration-200 rounded-lg shadow-2xl hover:shadow-yellow-500 hover:cursor-pointer"> 
            <span class="p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-tree" viewBox="0 0 16 16">
                    <path d="M8.416.223a.5.5 0 0 0-.832 0l-3 4.5A.5.5 0 0 0 5 5.5h.098L3.076 8.735A.5.5 0 0 0 3.5 9.5h.191l-1.638 3.276a.5.5 0 0 0 .447.724H7V16h2v-2.5h4.5a.5.5 0 0 0 .447-.724L12.31 9.5h.191a.5.5 0 0 0 .424-.765L10.902 5.5H11a.5.5 0 0 0 .416-.777l-3-4.5zM6.437 4.758A.5.5 0 0 0 6 4.5h-.066L8 1.401 10.066 4.5H10a.5.5 0 0 0-.424.765L11.598 8.5H11.5a.5.5 0 0 0-.447.724L12.69 12.5H3.309l1.638-3.276A.5.5 0 0 0 4.5 8.5h-.098l2.022-3.235a.5.5 0 0 0 .013-.507z"/>
                </svg>
            </span>
        </a>
        {% endif %}

        {% if active == 'photos' %}
        <a href="../fotos" class="m-fotos flex basis-1/6 items-center p-2 bg-green-500 transition duration-200">
            <span class="p-2 whitespace-nowrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                    <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                </svg>
            </span>
            <span class="whitespace-nowrap basis-2/3"> Fotos </span>
        </a>
        {% else %}
        <a href="../fotos" class="m-fotos flex basis-1/6 items-center p-2 border-b-green-500 border-b-4 hover:bg-green-500 transition duration-200 rounded-lg shadow-2xl hover:shadow-green-500 hover:cursor-pointer"> 
            <span class="p-2 whitespace-nowrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
                    <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                </svg>
            </span>
        </a>
        {% endif %}

        {% if active == 'infos' %}
        <a href="../infos" class="m-infos flex basis-1/6 items-center p-2 bg-blue-200 text-[#245c87] transition duration-200 rounded-t-xl shadow-2xl shadow-blue-200">
            <span class="p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
                    <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/>
                    <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
                </svg>
            </span>
            <span class="whitespace-nowrap"> Noticias e Informaçoes </span>
        </a>
        {% else %}
        <a href="../infos" class="m-infos flex basis-1/6 items-center p-2 border-b-blue-200 border-b-4 hover:bg-blue-200 hover:text-[#245c87] transition duration-200 rounded-lg shadow-2xl hover:shadow-blue-200 hover:cursor-pointer"> 
            <span class="p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16">
                    <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/>
                    <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/>
                </svg>
            </span>
        </a>
        {% endif %}

        {% if active == 'downloads' %}
        <a href="../downloads" class="m-downloads flex basis-1/6 items-center p-2 border-b-blue-500 border-b-4 bg-blue-500 hover:text-[#e8faff] transition duration-200 rounded-lg shadow-2xl hover:shadow-blue-500 hover:cursor-pointer"> 
            <span class="p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                </svg>
            </span>
            <span class="whitespace-nowrap basis-2/3"> Downloads </span>
        </a>
        {% else %}
        <a href="../downloads" class="m-downloads flex basis-1/6 items-center p-2 border-b-blue-500 border-b-4 hover:bg-blue-500 hover:text-[#e8faff] transition duration-200 rounded-lg shadow-2xl hover:shadow-blue-500 hover:cursor-pointer">
            <span class="p-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                </svg>
            </span>
        </a>
        {% endif %}
    </div>
</nav>
{% endblock %}