{% extends "shared/_base_index.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<nav class="rainbow-nav mt-1 mb-4 w-full shadow-2xl rounded-md">
    <div class="flex flex-nowrap overflow-x-auto text-white max-w-screen-lg mx-auto">
        <a href="/" class="m-escotismo p-4 border-b-red-500 border-b-4 hover:bg-red-500 hover:text-[#fff0f0] shadow-2xl hover:shadow-red-500 transition duration-200 rounded-lg hover:cursor-pointer"> 
            Escotismo 
        </a>
        <a href="/" class="m-about p-4 border-b-orange-500 border-b-4 hover:bg-orange-500 transition duration-200 rounded-lg shadow-2xl hover:shadow-orange-500 hover:cursor-pointer"> 
            Quem Somos 
        </a>
        <a href="/" class="m-ramos p-4 border-b-yellow-500 border-b-4 hover:bg-yellow-500 transition duration-200 rounded-lg shadow-2xl hover:shadow-yellow-500 hover:cursor-pointer"> 
            Ramos
        </a>
        <a href="/" class="m-fotos p-4 border-b-green-500 border-b-4 hover:bg-green-500 transition duration-200 rounded-lg shadow-2xl hover:shadow-green-500 hover:cursor-pointer"> 
            Fotos
        </a>
        <a href="/" class="m-infos p-4 border-b-blue-200 border-b-4 hover:bg-blue-200 hover:text-[#245c87] transition duration-200 rounded-lg shadow-2xl hover:shadow-blue-200 hover:cursor-pointer"> 
            Noticias e Informaçoes
        </a>
        <a href="/" class="m-downloads p-4 border-b-blue-500 border-b-4 hover:bg-blue-500 hover:text-[#e8faff] transition duration-200 rounded-lg shadow-2xl hover:shadow-blue-500 hover:cursor-pointer"> 
            Downloads
        </a>
    </div>
</nav>

<section class="content-container mt-10 shadow-2xl shadow-black h-fit rounded-2xl">
    
    <!-- Home Screen -->
    <article class="home w-full h-full">
        <h1 class="text-3xl text-white p-4 w-full text-center"> Home </h1>

        <header class="w-full">
            <div class="xl:p-9 flex">
                <div class="w-max xl:basis-1/4">
                    <img class="w-sm h-50 shadow-blue-200 drop-shadow-2xl" src=" {% static '/images/logo.png' %}" alt="">
                </div>

                <div class="w-max xl:basis-3/4">
                    <div class="content-view bg-[#bbb4] shadow-[inset_0_-2px_2rem_rgba(0,0,0,0.6)] rounded-2xl w-full h-full">

                        <!-- Conteudos separados em Articles -->
                        {% block escotismo %}
                        {% endblock %}
                    </div>
                </div>
            </div>

        </header>
    </article>

    

</section>
{% endblock %}