body {
    background: #0e0e1b;
}

.russell-header {
    background-repeat: no-repeat;
    /* background-image: url("//cdn-ssl.s7.disneystore.com/is/image/ShopDisney/mb_character-russell_launch_2x?fit=constrain&cropN=0,0,1,1&fmt=jpeg&qlt=90&wid=1200"); */
}
.bg-rainbow {
    /* background-image: url("../images/rainbow_fade.png"); */
    background: #2268c5;
    background-size: contain;
}
.rainbow-bar {
    background: #ffffff1a;
}
#scout {
    /* background-image: url("../gallery/escoteiros.jpg"); */
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
}