{% extends "index.html" %}

{% block about %}
    <article class="v-about p-4 h-full">
        <h2 class="text-6xl text-center w-full p-4 text-white drop-shadow-2xl"> Quem Somos </h2>

        <div class="text-center my-20">
            <p class="text-xl text-white px-20">
                <b class="text-3xl underline">O Grupo Escoteiro Umuarama</b> é uma Unidade Escoteira, entidade privada não governamental internacional, civil, de fins filantrópicos e de interesse público, filiado à União dos Escoteiros do Brasil - UEB, membro da organização Mundial do Movimento Escoteiro - atuando na formação de jovens como instituição de educação não formal (extra escolar) - atuante em São Paulo há mais de 50 anos. Neste período, vem exercendo papel ativo na formação de melhores cidadãos e auxílio à comunidade.
                <br> <br>
                Fundado em 19 de Setembro de 1958, vem participando de importantes acontecimentos da sociedade, atuando como apoio aos órgãos nacionais e internacionais de auxílio público, como a Cruz Vermelha Internacional, Defesa Civil entre outros.
                <br> <br>
                O Grupo já recebeu nesses anos de existência mais de 350 jovens de 7 a 21 anos, e que aprenderam e continuam aprendendo desde cedo o valor da amizade, da palavra e da lealdade. A participação em vários eventos de relevância contribuiu para o seu reconhecimento no âmbito Nacional, recebendo no passado inclusive a Comenda mais alta da Câmara de Vereadores de SP.
                <br> <br>
                Atualmente nosso Grupo vem participando de projetos sócio-ambientais em toda a cidade, merecendo destaque:
                Campanha do Agasalho
                Plantio der árvores
                Campanha Nacional de Prevenção ao Diabetes
                Inclusão Social de jovens de comunidades Carentes
                Apoio à Cruz Vermelha brasileira nas enchentes de Santa Catarina
                Desfile cívico de 9 de julho e 7 de Setembro
                Desfile do Dia das Crianças do Brooklin (arrecadação de brinquedos e roupas)
                <br> <br>
                O nosso Grupo Escoteiro fica na Vila Alexandria, ao lado da Vila Mascote, Vila Santa Catarina, Jardim Aeroporto, Aeroporto (Congonhas), Jardim Brasil, Campo Belo, Jardim Marajoara, Jardim Prudência, Jardim Umuarama, Cidade Ademar, Jardim Cordeiro, Vila Paulista, Vila Jovina, Vila São Paulo, Parque Colonial, Jardim Cupecê, Chácara Monte Alegre, Dantas filho, Alfai Rodrigues, Vila Alba, João Barreto de Menezes..
                <br> <br>
                <em class="text-2xl">Rumo aos 60 anos de História</em>
                <br> <br>
                Por volta do ano de 1950, a Família Hunnicutt, transfere-se para a Cidade de São Paulo, indo residir no Bairro de Higienópolis, aonde o Sr.Benjamin Harris Hunnicutt Jr. iria assumir a Presidência do Instituto Mackenzie. Ali, havia por parte da população, um desejo de que se organizasse algo para os jovens da região, e o Movimento Escoteiro e Bandeirante, já conhecido na época, e bastante praticado, foi a solução encontrada pela comunidade.
                <br> <br>
                Sendo Assim, muitas reuniões se realizam, e elas culminam na fundação, em 19 de Setembro de 1958, da Companhia de Bandeirantes e da Tropa de Escoteiros "Umuarama", que surge sob a batuta do agora Chefe Escoteiro Benjamin Harris Hunnicutt Jr. que também ocupava o cargo de Chefe Distrital.
                A Companhia de Bandeirantes e a Tropa Escoteira, iniciam suas atividades, no interior da Igreja Evangélica do Jardim das Oliveiras, na Alameda Jaú, atrás do MASP, nos Jardins. A Igreja existe até hoje, pra quem quiser ver.
                <br> <br>
                Não podemos esquecer da colaboração valiosa no início do G.E.Umuarama, por parte dos chefes: William Anderson - "Walter" e Luiz Carlos Gabriel - "Cascavel".
                <br> <br>
                São portanto, fundadores do Grupo Escoteiro Umuarama (Hoje sem Distrito Bandeirante vinculado), os brilhantes chefes: Benjamin Harris Hunnicutt Junior e a Dona Esther Homen Hunnicutt, a quem a Família Umuarama presta esta singela homenagem nos 50 Anos do Grupo Escoteiro Umuarama.
                <br> <br>
                <br> <br>
                Benjamin Harris Hunnicutt Junior - O Fundador
                <br> <br>
                Benjamin Harris Hunnicutt Junior, é formado em Agronomia, pela Universidade Federal de Lavras - Minas Gerais, e pós-graduado na Universidade da Flórida, nos Estaos Unidos. Pela Universidade Federal de Lavras, o nosso fundador foi agraciado com o título de Professor Honoris Causa. Desenvolveu técnicas de conservação de solo nas planícies centrais do Estado de São Paulo e nas áreas da "Terra Roxa" no Paraná. Seu pai, Benjamin Harris Hunnicut, foi idealizador da UFLA, formou juntamente com outros Escotistas mais de 700 Chefes Escoteiros em todo o Brasil.
                Mantém na Cidade de Guarulhos, na Grande São Paulo, um sítio, chamado "Oca do Curumim" idealizado por seu pai, este sítio, nas proximidades da Serra da Cantareira, desenvolve projetos educacionais revolucionários, e presta grandes serviços a comunidade. O Grupo Escoteiro Umuarama teve a honra de visitar o sítio por muitas vezes.
                Sua Esposa, Dona Esther Homen Hunnicutt, também fundadora de nosso Grupo, faleceu recentemente.
            </p>
        </div>
    </article>
{% endblock %}