{% extends "index.html" %}

{% block faq %}
<td align="left" valign="top"><h3><strong>Escotismo é Recreação?</strong></h3>
    Sim e não. Na verdade é muito mais do que simples recreação. É diversão com objetivos educacionais.<br><br>
    <h3><strong>Só existem Escoteiros no Brasil?</strong></h3>
      Não! O movimento existe ha mais de 100 anos, tendo chegado aqui apenas dois anos após o seu início na Inglaterra. O movimento escoteiro pode ser definido como o maior movimento de jovens mundial com presença em mais de 216 países e territórios.<br><br>
    <h3><strong>Escoteiros são Militares?</strong></h3>
      Não! Não existe nenhum vínculo entre o movimento e qualquer força armada. O Movimento não é uma força para-militar ou pré-militar, não preparamos os jovens para seguir carreira militar.<br>
      Alguns grupos escoteiros realizam suas atividades em Batalhões das forças armadas, mas o envolvimento se limita apenas ao local de atividade.<br><br>
    <h3><strong>A que igreja esta ligada os Escoteiros?</strong></h3>
      Nenhuma! O movimento não está vinculado a nenhuma religião ou crença específica, mas valoriza a o desenvolvimento espiritual de seus membros como um compromisso para buscar um valor espiritual de vida além do mundo material.<br><br>
    <h3><strong>Quem pode participar?</strong></h3>
      Escotismo é aberto a todos, sem discriminação de raça, credo, origem, condição social, física ou mental. Seguindo o propósito, os princípios e método concebidos por seu fundador, o inglês, Lorde Robert Baden-Powell.<br><br>
    <h3><strong>Eu sempre quis ser escoteiro, mas não fui quando era criança. Agora estou velho demais?</strong></h3>
      Não dá para voltar no tempo e aproveitar o Movimento da mesma forma que aproveitaria quando era criança.<br> Mas ser escoteiro depois de adulto também tem suas vantagens e atrações. Entender como funciona, proporcionar a várias crianças a oportunidade de viver este Movimento, fazer amigos nos mais diversos lugares... isso tudo não tem preço! Sem contar as milhares de vezes em que esquecemos nossa idade e nos divertimos como se tivessemos realmente voltado no tempo. Por isso, se você tem mais de 21 anos não deixe de viver essa aventura!<br><br>
    <h3><strong>Gostaria de levar meu filho(a) para conhecer o escotismo, mas não tenho tempo para participar e não quero me envolver muito. Ele pode participar ainda assim?</strong></h3>
      Para ter um filho no Movimento Escoteiro é preciso ter o mesmo envolvimento que se tem com a escola dele. Você não precisa estar lá durante as atividades (a não ser durante a integração, enquanto ele não tiver um registro escoteiro), não precisa fazer nada que já não faça com outras atividades extras que ele já faz atualmente.<br> Algumas vezes você será chamada, como numa festa de dia das mães (ou pais), o recebimento de uma especialidade ou na promessa. Ou até para ajudar em algum evento especial. Mas isso não será o tempo todo, apenas em ocasiões esporádicas.<br><br>
    <h3><strong>Meu filho(a) vive na frente do videogame, não gosta de mato e não vive sem televisão. Será que ele vai aguentar ser escoteiro?</strong></h3>
      Muitas vezes as crianças estão na frente do videogame e da televisão por pura falta de outras atividades mais atrativas. Antigamente era muito mais comum brincar na rua com outras crianças, mas hoje em dia é mais perigoso deixá-los sozinhos fora de casa.<br> Ainda assim, dê a uma criança uma bola ou proponha alguma atividade intrigante e...voilá, você terá uma criança interessada. Por isso não deixe de dar a seu filho a oportunidade de conhecer outras formas de se divertir.<br><br>
    <h3><strong>A partir de que idade se entra no grupo?</strong></h3>
      A partir dos 6,5 anos até os 21 anos incompletos, se a criança já está em processo de alfabetização a entrada é admissível com 6 anos e meio.<br><br>
      <h3><strong>Só meninos podem ser Escoteiros?</strong></h3>
      Não, as meninas também participam. Meninos e meninas, rapazes e moças trabalham juntos no desenvolvimento das tarefas e atividades.<br><br>
    <h3><strong>Eles são divididos de alguma forma?</strong></h3>
      Sim, são divididos em Seções por faixa etária:<br>
    07 aos 10 anos - Lobinhos e Lobinhas<br>
      11 aos 14 anos - Escoteiros e Escoteiras<br>
      15 aos 17 anos - Seniores e Guias<br>
      18 aos 21 anos - Pioneiros e Pioneiras<br><br>
    <h3><strong>Os Escoteiros ajudam a Comunidade?</strong></h3>
      Os escoteiros participam atendendo necessidades reais. Os escoteiros são envolvidos em um número vasto de assuntos que encontram nas comunidades onde vivem. Escoteiros trabalham com outros grupos da comunidade para alcançar objetivos mútuos. Eles trabalham com amigos, outras Ong's, líderes de comunidade e outras organizações.<br>
    Muitos trabalham em projetos de cooperação bilateral entre escoteiros e comunidades específicas, grandes empresas e projetos especiais. Este aspecto do escotismo desenvolve uma cidadania atuante e responsável.<br><br>
    <h3><strong>Colocar meu filho não compromete seu tempo de estudo?</strong></h3>
      As atividades escoteiras não interrompem de modo algum suas atividades habituais (horas de trabalho nos escritórios, oficinas e escola), na verdade as atividades desenvolvem-se principalmente nas horas livres do jovem.<br><br>
      <h3><strong>Escotismo pode interferir nos estudos?</strong></h3>
      O Escotismo é uma pratica para as horas livres do jovem, portanto não deve interferir em seu dia-a-dia acadêmico. Porém, a dedicação aos Estudos é uma obrigação do Escoteiro e o grupo incentiva o jovem a ter um bom desempenho escolar.<br><br>
    <h3><strong>Os adultos podem participar?</strong></h3>
      Sim! O direcionamento do movimento é para os jovens, mas os adultos são imprescindíveis na aplicação do programa escoteiro.<br>
      Os adultos também se beneficiam à medida que têm uma chance de, voluntariamente, ajudarem crianças e jovens. Um modo para melhorar a compreensão entre gerações, adquirir novos conhecimentos e experiências que, certamente, somam muito ao desenvolvimento pessoal de cada um. O ingresso, bem como a permanência no Movimento é inteiramente voluntária.<br>
      Os pais também podem participar das atividades acompanhando passeios ou auxiliando como instrutores de assuntos que dominem.<br><br>
    <h3><strong>Quem custeia o Escotismo?</strong></h3>
      Os Grupos Escoteiros tem diversas formas de custeio. Recebe doações de empresas ou entidades patrocinadoras ou, na ausência delas, recolhe contribuições dos pais na forma de mensalidades.<br>
      É uma contribuição nada proibitiva uma vez que é destinada apenas para a compra de materiais de uso nas atividades e demais gastos operacionais.<br>
      O material individual é de responsabilidade de cada membro, mas os materiais de uso coletivo, barracas, equipamentos de segurança,... São de responsabilidade do Grupo sendo adquiridos através das receitas do grupo.<br>
      Quando são feitas atividades fora da sede (acampamentos, excursões, etc.), principalmente quando envolvem custos de alimentação ou transporte, os custos são rateados entre os participantes.<br><br>
    <h3><strong>Meu filho é obrigado a participar dos Acampamentos?</strong></h3>
      Não, nenhuma atividade escoteira é obrigatória. A participação do jovem em qualquer atividade e sua presença no grupo deve ser voluntária. Porém, o apoio dos pais e a assiduidade nas atividades no grupo são fundamentais para o pleno desenvolvimento do jovem.<br><br>
      <h3><strong>Qual a classe social dos integrantes do grupo?</strong></h3>
      São membros do grupo jovens de todas as classes sociais, o grupo valoriza esta diversidade uma vez que os jovens devem entender e respeitar as diferenças sociais.<br><br>
    <h3><strong>Estou interessado, o que faço?</strong></h3>
      Que bom que você se interessou. Agora que você conhece um pouco mais do escotismo que acha de conhecer um Grupo Escoteiro? Convide seu filho para ir também. Assim, enquanto ele participa de uma atividade você pode conversar com os Chefes Escoteiros (os adultos que cuidam dos Grupos).<br><br>
      Nosso mail geral: <a href="mailto:contatoumuarama@gmail.com;" class="amarelo">contatoumuarama@gmail.com</a><br><br>
    Ou ligue para nós: 99153-1563<br><br>
</td>
{% endblock %}