{% extends "index.html" %}
{% load static %}

{% block home %}
    <div id="scout" class="w-full flex gap-8 max-xl:p-2 xl:p-4 backdrop-blur-lg xl:basis-1/4 rounded-xl">
        <div class="basis-1/3">
            <img class="shadow-red-500 drop-shadow-2xl" src="{% static 'images/logo.png' %}" alt="" srcset="">
        </div>
        <div class="shadow-2xl max-xl:p-2 xl:p-8 backdrop-lg rounded-xl basis-2/3">
            <h2 class="text-white text-center max-xl:text-xl xl:text-5xl"> Grupo Escoteiro de Umuarama </h2>
        </div>

    </div>
    <article class="p-10 text-xl text-center text-white font-medium leading-9">
        <h2 class="text-6xl text-white text-center mb-10"> Por Que Vir Para o Umuarama </h2>

        <p>
            significa <u class="text-2xl italic">"lugar onde os amigos se encontram"</u>.
        </p>
        <br>
        <p>
            O que buscamos
            A nossa missão é primar pela excelência na formação de jovens, escolhendo para compor o quadro de escotistas, homens e mulheres comprometidos com a melhoria pessoal contínua, compartilhando suas experiências, e, de acordo com a tradição de nosso fundador, sendo um ambiente alegre e disciplinado que privilegie a aventura e a diversão. Sempre.
            Em nosso grupo somos uma família, onde todos – adultos e jovens – convivem e trabalham juntos com um objetivo comum, que é o relacionamento fraternal e o respeito entre todos. Aqui, nos sentimos bem e gostamos do que fazemos, e temos muito orgulho disso.
        </p>
        <br>
        <p>
            <h3 class="text-4xl font my-5"> Nossa Visão de futuro – onde nossos sonhos podem ir </h3>
            Ser um Grupo Escoteiro de excelência em praticar Escotismo;
            Podermos sempre acantonar e nos divertir, e com divertidas aventuras manter os jovens no movimento escoteiro
            Podermos sempre acampar e ser felizes, e com essas aventuras desenvolver nos jovens o desejo constante do autoconhecimento, do progresso pessoal e do amadurecimento em um ambiente saudável e fraterno;
            Queremos nosso conselho de pais e nossa Associação mantenedora forte e atuante, e assim tornar as famílias a base sólida do Grupo e de suas atividades e de sua imagem;
            Queremos nos destacar pelas tradições – nossos uniformes impecáveis, nossos cantos e campos bem montados, nossa sede arrumada e organizada e principalmente nosso jeito alegre e feliz em estar sempre pronto para ajudar o próximo e nosso país;
            Queremos ser um Grupo Escoteiro dinâmico, criativo e auto-sustentável;
            Queremos, acima de tudo, ser conhecidos e reconhecidos pela nossa alegria, disciplina e respeito.
        </p>
        <br>
        <p>
            <h3 class="text-4xl font my-5">Valores</h3>
            Aqui em nosso Grupo:
            A nossa base está construída na Família e dela vem a nossa força;
            Nós multiplicamos a força dividindo o trabalho entre todos e cada um faz o seu melhor possível;
            Nós encontramos a felicidade na contribuição individual para o bem-estar de todos;
            O diálogo permite a melhoria constante, e entendemos que o conhecimento é uma criação coletiva;
            O respeito entre os jovens e adultos permite a constante troca de informações, conhecimento e experiências;
            O desenvolvimento e o aprendizado sejam satisfeitos respeitando as capacidades individuais;
            Desejamos que a humildade seja a base para resolver todos os problemas e conflitos visando sempre favorecer os jovens;
            Buscamos o comprometimento com a constante renovação de ideias e com a preservação da cultura do Grupo.
        </p>
        <br>
        <p>
            <h3 class="text-4xl font my-5"> Diferenciais: </h3>
            Uma equipe unida e entusiasmada, pais atuantes e comprometidos, espírito de família, um ideal e um objetivo único e comum entre todos: uma sociedade mais justa e desenvolvida;
            Seu filho ou filha pode participar de até 4 atividades sem compromisso, para que ele(a) se identifique com a proposta;
            Enquanto ele ou ela se diverte, você toma um cafezinho e conversa com nossos escotistas e troca experiências com nossos pais e mães.
        </p>
        <br>
        <p>
            <h3 class="text-4xl font my-5"> Responsabilidade Social </h3>
            Essa palavra tão na moda nos dias atuais, na verdade está entremeada no Método escoteiro desde a sua fundação. Atividades voltadas ao bem estar comunitário, a preservação sustentada do meio ambiente e o serviço ao próximo sempre foram e são parte importante no processo de formação dos Jovens.
        </p>
        <br>
        <p>
            <h3 class="text-4xl font my-5"> Para ilustrar um pouco com fatos: </h3>
            Novecentas atividades. Esta e a média de ações de desenvolvimento e serviço social realizadas anualmente pelos Grupos Escoteiros do Estado de São Paulo. Muita gente não sabe, mas o Escotismo vem cumprindo um importante papel junto às comunidades nas quais estão inseridos, não apenas pelas ações em si, mas também pelo envolvimento dos jovens e crianças que participam do Movimento.
        </p>
        <br>
        <p>
            Os escotistas, adultos voluntários que dedicam seu tempo à prática do movimento escoteiro, tem papel fundamental na realização destas atividades. Eles envolvem os jovens no diagnóstico de uma necessidade da comunidade, no planejamento da ação, na execução propriamente dita e ainda na avaliação do que aconteceu. Com isso os escoteiros e escoteiras em todas as faixas etárias abrangidas pelo movimento, dos sete aos 21 anos, entram em contato, muitas vezes pela primeira vez no caso dos mais jovens, com atividades que visam ajudar o próximo, conforme reza a promessa escoteira.
        </p>
        <br>
        <p>
            Os resultados destas atividades, além de imediatos na comunidade como a doação de agasalhos, replantio de árvores em zonas degradadas ou atividades recreativas com crianças carentes, são colhidos ainda por muitos anos, pois através da vivência de ações sociais, desde cedo, os jovens abraçam o voluntariado e muitas vezes tomam iniciativas próprias, multiplicando o esforço em favor da comunidade.
        </p>
    </article>
{% endblock %}