{% extends "index.html" %}

{% block roles %}
    <article class="v-ramos p-10 text-white w-full text-center">
        <h2 class="text-2xl"> Faixas etárias e Ramos que trabalhamos: </h2>
        <br>
        <p> 
            <p class=""> Essas faixas etárias se dividem em quatro agrupamentos, chamados Ramos,
                que são:
            </p>
            <p class="leading-relaxed">
                <br>
                <p class="mb-4"> <span class="lg:border-b-2 max-md:border-b-4 border-red-500"> O Ramo Lobo, </span> que reúne meninos e meninas de 7 a 11 anos incompletos </p>
                <p class="mb-4"> <span class="lg:border-b-2 max-md:border-b-4 border-orange-500"> O Ramo Escoteiro, </span> que reúne meninos e meninas de 11 a 15 anos incompletos </p>
                <p class="mb-4"> <span class="lg:border-b-2 max-md:border-b-4 border-yellow-500"> O Ramo Sênior, </span> que reúne meninos e meninas de 15 a 18 anos incompletos </p>
                <p class="mb-4"> <span class="lg:border-b-2 max-md:border-b-4 border-green-500"> O Ramo Pioneiro, </span> que reúne rapazes e moças de 18 a 21 anos incompletos </p>
                <br>
                <br>
                <p class=""> Se seu filho ou filha se encaixa em um dos grupos acima, venha com ele tomar um cafezinho e nos conhecer. Recomendamos que a criança participe de pelo menos 3 atividades SEM COMPROMISSO para que ela possa ter certeza de quer continuar, e assim dar mais segurança aos pais. Não é necessário agendar visita. </p>
            </p>
            <br>

            <h2 class="text-2xl"> Informações sobre atividades e sobre o Ramo </h2>
            <div class="text-lg">
                <br> no Ramo Lobinho: <a class="text-amber-500 hover:text-amber-200" href="">lobinhos.umuarama@gmail.com </a>
                <br> na Tropa Escoteira: <a class="text-amber-500 hover:text-amber-200" href="">tropaumuarama@gmail.com </a>
                <br> na Tropa Senior: <a class="text-amber-500 hover:text-amber-200" href="">senioresumuarama@gmail.com </a>
                <br> no Clã Pioneiro: <a class="text-amber-500 hover:text-amber-200" href="">pioneiros.umuarama@gmail.com </a>
            </div>
       </p>
    </article>
{% endblock %}